main
  .slideshow
    .slide.slide--layout-1.slide--current
        figcaption
          h3.slide__figure-title Seasonal et dripper
          p.slide__figure-description Trifecta foam, con panna caffeine
        span.slide__number.slide__number--left 1
        span.slide__number.slide__number--right 2
    .slide.slide--layout-2
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Carajillo percolator
          p.slide__figure-description White sugar plunger pot half
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Cortado organic skinny
          p.slide__figure-description As aromatic, grinder turkish
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Qui coffee, americano
          p.slide__figure-description Espresso percolator iced rich
      span.slide__number.slide__number--left 3
      span.slide__number.slide__number--right 4
    .slide.slide--layout-3
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title White filter
          p.slide__figure-description Breve, brewed ristretto rich arabica
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Java half and half
          p.slide__figure-description Et aged so, sweet cup
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Steamed et mazagran
          p.slide__figure-description As cultivar froth fair trade
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Coffee mazagran eu
          p.slide__figure-description Breve seasonal frappuccino
      span.slide__number.slide__number--left 5
      span.slide__number.slide__number--right 6
    .slide.slide--layout-4
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Kopi-luwak body
          p.slide__figure-description Affogato steamed single shot
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Ut crema eu cultivar
          p.slide__figure-description Black flavour qui robusta
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Sit, in americano iced acerbic
          p.slide__figure-description Macchiato whipped, chicory mug
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title At redeye, white foam extra
          p.slide__figure-description Variety black grounds espresso
      span.slide__number.slide__number--left 7
      span.slide__number.slide__number--right 8
    .slide.slide--layout-5
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Aftertaste roast
          p.slide__figure-description Instant extra beans decaffeinated
      figure.slide__figure
        .slide__figure-inner
          .slide__figure-img(style='background-image: url()')
          .slide__figure-reveal
        figcaption
          h3.slide__figure-title Brewed sit in instant shop
          p.slide__figure-description Blue mountain, java crema
      span.slide__number.slide__number--left 9
      span.slide__number.slide__number--right 10
    // revealer
    .revealer
      .revealer__item.revealer__item--left
      .revealer__item.revealer__item--right
    nav.arrow-nav
      button.arrow-nav__item.arrow-nav__item--prev
        svg.icon.icon--nav
          use(xlink:href='#icon-nav')
      button.arrow-nav__item.arrow-nav__item--next
        svg.icon.icon--nav
          use(xlink:href='#icon-nav')
    // navigation
    nav.nav
      button.nav__button
        span.nav__button-text index
      h2.nav__chapter Riding on a storm
      .toc
        a.toc__item(href='#entry-1')
          span.toc__item-page 01.
          span.toc__item-title Riding on a storm
        a.toc__item(href='#entry-2')
          span.toc__item-page 03.
          span.toc__item-title Guidelines for happiness
        a.toc__item(href='#entry-3')
          span.toc__item-page 05.
          span.toc__item-title Freedom fighter
        a.toc__item(href='#entry-4')
          span.toc__item-page 07.
          span.toc__item-title Lost and found
        a.toc__item(href='#entry-5')
          span.toc__item-page 09.
          span.toc__item-title Fantasies of Wood
    // little sides
    .slideshow__indicator
    .slideshow__indicator
